@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    <form asp-action="Create" asp-controller="Tasks">
        <h3>@Localizer["Header"]</h3>

        <div class="form-group">
            <label>@Localizer["Name"]:</label><br />
            <input type="text" name="name" />
        </div>
        <div class="form-group">
            <label>@Localizer["Status"]:</label><br />
            <select name="status" asp-items="Html.GetEnumSelectList<Status>()">
            </select>
        </div>
        <div class="form-group">
            <label>@Localizer["ListOfPerformers"]:</label><br />
            <input type="text" name="listOfPerformers" />
        </div>

        <div class="form-group">
            <label>@Localizer["RegistrationDate"]:</label><br />
            <input type="date" name="registrationDate" />
        </div>

        <div class="form-group">
            <label>@Localizer["PlanedTime"]:</label><br />
            <input type="time" name="planedTime" />
        </div>

        <div class="form-group">
            <label>@Localizer["RealTime"]:</label><br />
            <input type="time" name="realTime" />
        </div>
        <p>
            <input type="submit" class="btn btn-success" value="@Localizer["Button"]" />
        </p>

    </form>

}
