
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h3> @Localizer["Header"] </h3>
<button  class="btn btn-success" asp-action="Create">@Localizer["Create"]</button>
<h3>@ViewBag.Message</h3>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <ul class="b-list b-list_type_tree b-list_viewtype_centered">
                @foreach (MyTask item in Model.allTasks)
                {
                    if (item.masterTask == null)
                    {
                        <li>
                            @item.name
                            <a asp-action="Details" class="badge badge-info" asp-controller="Tasks" asp-route-id="@item.id">@Localizer["Details"]</a>
                            @{
                                MyTasksListViewModel model = new MyTasksListViewModel();
                                model.allTasks = item.subTasks;
                            }
                            <ul class="b-list b-list_type_tree">
                                <partial name="_MyTask" model="model" />
                            </ul>

                        </li>
                    }

                }
            </ul>
        </div>
        <div class="col">
            @if (Model.curTask != null)
            {
                var curTask = Model.curTask;

                <div>
                    <label>
                        @Localizer["Name"]: @curTask.name
                    </label><br />
                    <label>
                        @Localizer["Status"]: @curTask.status
                    </label><br />
                    <label>
                        @Localizer["ListOfPerformers"]: @curTask.listOfPerformers
                    </label><br />

                    <label>
                        @Localizer["RegistrationDate"]: @curTask.registrationDate
                    </label><br />

                    <label>
                        @Localizer["PlanedTime"]: @curTask.planedTime
                    </label><br />

                    <label>
                        @Localizer["RealTime"]: @curTask.realTime
                    </label><br />

                    <label>
                        @Localizer["SumOfSubtasksPlanedTime"]: @ViewBag.SubTasksSumPlanedTime
                    </label><br />

                    <label>
                        @Localizer["SumOfSubtasksRealTime"]: @ViewBag.SubTasksSumRealTime
                    </label><br />
                            <button asp-action="Update" class="btn btn-primary" asp-controller="Tasks" asp-route-id="@curTask.id">@Localizer["Update"]</button>
                            <button asp-action="Delete" class="btn btn-danger" asp-controller="Tasks" asp-route-id="@curTask.id">@Localizer["Delete"]</button>
                            <button asp-action="CreateSubTask" class="btn btn-success" asp-controller="Tasks" asp-route-masterTaskId="@curTask.id">@Localizer["CreateSubtask"]</button>

                </div>

            }
        </div>
    </div>
</div>






