@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{

    var curTask = Model.curTask;
    <h3>@ViewBag.UpdateCheck</h3>
    <form asp-action="Update" asp-controller="Tasks">
        <h3>@Localizer["Header"]</h3>
        <div class="form-group">
            <label>@Localizer["Name"]:</label><br />
            <input type="text" asp-for="curTask.name" name="name" />
        </div>
        <div class="form-group">
            <label>@Localizer["Status"]:</label><br />
            <select asp-for="curTask.status" name="status" asp-items="Html.GetEnumSelectList<Status>()">
            </select>
        </div>
        <div class=" form-group">
            <label>@Localizer["ListOfPerformers"]:</label><br />
            <input type="text" asp-for="curTask.listOfPerformers" name="listOfPerformers" />
        </div>
        <p>
            <input type="submit" class="btn btn-success" value="@Localizer["Button"]" />
        </p>
    </form>

}